@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body,html{}

body {
  color: #5a5a5a;
  font-family: 'Open Sans',Arial,sans-serif;
  font-size: 15px;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
a, a:hover, .btn{outline:none!important;}
.btn-search{background: #FD3A13; border-color: #FD3A13; color: #fff; padding: 7px 10px}
.btn-search:hover{background: #ca1b1b; border-color: #ca1b1b}
section{padding: 30px 0; float: left; width: 100%}
.card{float: left; width:100%}
.navbar {border: medium none; float: left; margin-bottom: 0px; width: 100%;  border-radius: 0}
.title-large {font-size: 20px; margin: 10px 0 5px; line-height: 27px; color: #141517;}
.title-small { color: #141517; font-size: 16px; font-weight: 400; line-height: 23px; margin: 6px 0 0;}
.title-x-small {font-size: 18px; margin: 0px;}
.title-large a, .title-small a, .title-x-small a{color: inherit}

.loaders {width: 100%; box-sizing: border-box; display: flex; flex: 0 1 auto; flex-direction: row; flex-wrap: wrap; }
.loaders .loader {box-sizing: border-box; display: flex; flex: 0 1 auto; flex-direction: column; flex-grow: 1; flex-shrink: 0; flex-basis: 25%;
max-width: 25%; height: 200px; align-items: center; justify-content: center;}
.loader{display: table; height: 100%; position: fixed; width: 100%; z-index: 1200;}
.loader-bg{background: #fff}
.loader-inner {display: table-cell; text-align: center; vertical-align: middle;}

.banner-sec{float: left; width: 100%; background: #EBEBEB}
.card-block{padding:0 10px 10px;}
.card-text{margin: 0}
.text-time{color: #ff0000; font-weight: 600;}
.banner-sec .card-img-overlay{padding: 0; top: 3px; left: 7px; height: 20%}

header{float: left; width:100%}
.small-top{ border-bottom: 1px solid #2b2b2b;float: left; width: 100%; background: #000}
.small-top .social-icon{float: right;}
.small-top .social-icon a {border-left: 1px solid #2b2b2b; color: #ca1b1b; float: left; padding: 6px 13px;}
.small-top .social-icon a:last-child {border-right: 1px solid #2b2b2b;}
.small-top .social-icon a:hover {color:#FD3A13; text-decoration: none;}
.small-top .date-sec {font-size: 13px; font-weight: 600; float: left; margin-top: 4px; padding-left: 0; color: #898989}
.top-head{background: #141517; width: 100%; float: left; height: 100px;}
.top-head h1 {color: #fff; font-size: 36px; font-weight: 600; margin: 18px 0 0;}
.top-head small{float: left; width: 100%; font-size: 14px; color: #c0c0c0; margin-top: 5px; margin-left: 5px;}
.top-head .admin-bar {text-align: right; margin-top: 22px;}
.top-head .admin-bar a {color: #fff; line-height: 49px; position: relative}
.top-head .admin-bar a:hover{color: #ff0000}
.top-head .admin-bar a i{margin-right: 6px;}
.top-head .admin-bar .ping {background: #ff0000; border: 3px solid #141517; border-radius: 50%; height: 14px; position: absolute; right: -2px;    top: 13px; width: 14px; z-index: 1;}
.top-head .admin-bar img {float: right; height: 50px; width: 50px; margin-left: 18px;}
.top-nav{background: #fff; padding: 0; border-bottom: 1px solid #dbdbdb}
.top-nav .nav-link {padding-bottom: 0.7rem; padding-top: 0.7rem;}
.top-nav .navbar-nav .nav-item + .nav-item{margin-left:0}
.top-nav li a{color: #141517; text-transform: uppercase; font-size: 14px; font-weight: 700; padding: 0 10px; border-bottom: 2px solid #fff}
.top-nav li a:hover, .top-nav li a:focus, .top-nav li.active a{color: #141517; border-bottom: 2px solid #FD3A13 }
.top-nav .form-control{border-color: #fff}
.navbar-toggle{background: #fff;}
.navbar-toggle .icon-bar{background:#0A2E61; }
.navbar-brand{display: none;}

.top-slider .carousel-indicators{bottom: 0}
.top-slider .carousel-indicators li{border:1px solid #000;}
.top-slider .carousel-indicators .active{background:#000;}


.side-bar .nav-tabs{border-bottom:none;}
.side-bar .nav-tabs .nav-link {color: #aeaeae; text-transform: uppercase; border: none;}
.side-bar .nav-tabs .nav-link.active, .side-bar .nav-tabs .nav-link:hover{border-bottom:2px solid #ff0000;  text-transform: uppercase; color: #222}
.sidebar-tabing .media{margin-top: 20px}
.sidebar-tabing .media-left img{width: 120px;height: 100px;}
.sidebar-tabing .title-small {line-height: 23px; margin-top: 5px; font-size: 18px}

#search {float: right; margin-top: 9px; width: 250px;}
.search {padding: 5px 0; width: 230px; height: 30px; position: relative; left: 10px; float: left; line-height: 22px;}
.search input {background: #d0d0d0; border: medium none; border-radius: 3px 0 0 3px; float: left; height: 36px; line-height: 18px; margin-left: 210px; padding: 0 9px; position: absolute; top: 4px; width: 0; -webkit-transition: all 0.7s ease-in-out; -moz-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;}
.search:hover input, .search input:focus { width: 200px; margin-left: 0px; background: #d0d0d0;}
.top-nav .btn {position: absolute;right: 0;top: 4px;border-radius:3px;}

.banner-sec{float: left; width:100%;}
.banner-sec .news-block{margin-bottom: 20px}
.banner-sec .news-block:last-child{margin-bottom: 0px}
.banner-sec .news-des {margin-bottom: 5px;}
.banner-sec .title-large{margin: 18px 0 0}
.banner-sec .time{margin-top: 0px; font-size: 13px;}
.banner-sec .carousel-control.left, .banner-sec .carousel-control.right{background: none;}

.section-01{float: left; width: 100%;  border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5}
.section-01 .heading-large {border-bottom: 2px solid #222; color: #222; float: left; width: 100%; padding:0 0 6px; margin:0 0 18px; text-align: left;}
.section-01 .heading-large::before, .section-01 .heading-large::after{background: transparent;}
.section-01 .heading-small {border-bottom: 2px solid #222; color: #222; float: left; margin: 7px 0 0; width: 100%; padding-bottom: 10px; font-size: 18px }
.section-01 .title-small {margin-bottom: 5px; font-size:17px }
.section-01 .news-block{border-bottom: 1px dashed #000; padding-bottom: 30px; border: none;}
.section-01 aside > .news-block{border-bottom: 1px dashed #000; padding-bottom: 19px;}
.section-01 aside > .news-block:last-child{border-bottom: none; margin-bottom: 20px}
.section-01 .card{border: none;}
.section-01 .card-block{padding: 10px 0;}
.section-01 .video-sec {float: left; margin-top: 30px; width: 100%;}
.section-01 .video-block {float: left; margin-top: 20px; width: 100%;}

.section-02{float: left; width: 100%;}
.heading-large{color: #222;float: none;font-size: 28px; font-weight: 700; margin: 0 auto 30px; padding: 0 10px; position: relative;    text-align: center; text-transform: uppercase; width: 45%;}
.heading-large::before{ background: #222; height: 3px; content: ""; width: 100px; position: absolute; left: -25%; top: 43%;}
.heading-large::after{  background: #222; content: ""; height: 3px; position: absolute; right: -25%; top: 43%; width: 100px;}
.section-02 h3{float: left; width: 100%}
.section-02 .card{border: none; margin-bottom: 0}
.section-02 .card-block{padding: 10px 0}
.section-02 .news-listing{margin-top: 0}
.news-listing{padding: 0; list-style: none; float: left; width: 100%; margin:15px 0; }
.news-listing li{float: left; width: 100%; padding: 10px; background: #efefef; border-bottom: 1px solid #fff; margin: 5px 0}
.news-listing li a::before{content:">>"; margin-right: 10px}
.news-listing li a{ color: #222; font-weight: 400; font-family: 'Roboto Slab', serif;}

.video-gallery-sec{float: left; width: 100%; background: #efefef; border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; position: relative;}
.video-gallery-sec .row{margin-bottom: 30px}
.video-gallery-sec .gallery-counter{position: absolute; background: rgba(10,46,97,0.7); color: #fff; bottom: 0; width: 24%; left: 0; padding: 3px 10px }
.video-gallery-sec .gallery-counter i{margin-right: 7px; }
.news-block {float: left; width: 100%;}
.news-block .news-title{color: #083568; float: left; width: 100%}
.news-block .news-des {color: #2e2e2e; float: left; font-size: 15px; font-weight: 400; width: 100%;}
.news-block .news-auther {float: left; width: 100%; color: #2e2e2e; font-size: 13px}
.news-block .news-auther strong{font-weight: 600;}
.news-block .news-media {float: left; position: relative; width: 100%;}
.news-block .title-small{float: left; width: 100%; margin-top: 10px;}

.sub-footer{float: left; width: 100%; padding: 30px 0 60px; background:#0A2E61;}
.sub-footer .heading-large{color: #fff;}
.sub-footer .heading-large::before, .sub-footer .heading-large::after{background: #fff}
.sub-footer .carousel-control.left, .sub-footer .carousel-control.right{background: none;}

#myCarousel .carousel-caption {left:0;	right:0;	bottom:0;	text-align:left;	padding:10px;	background:rgba(0,0,0,0.6);	text-shadow:none;}
#myCarousel h4{font-size: 1.23vw; margin-bottom: 12px; line-height: 1.09em}
#myCarousel .carousel-caption p{font-size: 15px}
#myCarousel .carousel-caption .title-large a{color: #fff;}
#myCarousel .list-group {position:absolute;	top:0;	right:0;}
#myCarousel .list-group-item {border-radius:0px;	cursor:pointer;}
#myCarousel .list-group-item:hover, #myCarousel .list-group-item:focus, #myCarousel .list-group .active {	background-color:#005689; color: #fff; border:1px solid #005689;}

footer { background-color:#141517; width:100%; float: left; padding: 40px 0 20px}
footer .footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
footer .footer-ul li { font-size:14px; margin-bottom: 10px;}
footer .footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
footer .footer-ul i { margin-right:10px;}
footer .footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#fff; text-decoration: none; }
footer .social-icons i{background: #fff none repeat scroll 0 0; border-radius: 50%; color: #141517; padding: 8px 10px; margin-bottom: 10px;}
footer p{color: #a0a3a4; font-size: 14px;}
footer p span{color: #fff;}
footer .heading-footer { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
footer .post p { font-size:14px; color:#FFF; line-height:20px;}
footer .post p span { display:block; color:#8f8f8f; font-size: 12px;}

.copyright { min-height:40px; background-color:#000; float: left; width: 100%}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px; font-size: 13px;}
.copyright a{color: #fff}
.copyright a:hover{color: #ff0000; text-decoration: none;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}

